/*body*/
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body {
   font-family: 'Quicksand', sans-serif;
   margin: 0;
   padding: 0;
}

* {
	box-sizing: border-box;
}

.jumbotron {
	background-color: #0351b5;
	color: white;
	padding: 90px 25px;
	margin-top: 30px;
}

img {
	width: 100%;
}

.content-covid {
	margin: 15px;
}

.content-covid h2 {
	margin: 26px 0px;
	text-align: center;
	font-weight: bold;
}

.content-covid h3 {
	margin-top: 90px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-header {
	font-size: 22px;
}

.card-title {
	font-size: 40px;
	font-weight: bold;
	padding: 25px 0px;
}

footer {
	text-align: center;
}

@media screen and (max-width: 600px) {

	footer {
		font-size: 9px;
	}

}